<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{% static 'tmplt/assets/images/favicon/1.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'tmplt/assets/images/favicon/1.png' %}" type="image/x-icon" />
    <title>CarvaMart - Multi-purpose E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/font-awesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/vendors/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmplt/assets/css/style.css' %}">


</head>

<body class="theme-color-1">


    <!-- header start -->
    {% include 'tmplt/header.html' with categories=categories %}
    <!-- header end -->


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>review</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">review</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!-- section start -->
    <section class="section-b-space blog-detail-page review-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="comment-section">
                        <li>
                            <div class="media"><img src="{% static 'tmplt/assets/images/avtar.jpg' %}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                    <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis
                                        fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer
                                        faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique
                                        odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat
                                        lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus
                                        sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis
                                        erat tempor quis. Vestibulum eu vestibulum ex.</p>
                                    <ul class="comnt-sec">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i>
                                                <span>(14)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-down"></i>
                                                <span>(2)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media"><img src="{% static 'tmplt/assets/images/2.jpg' %}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                    <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis
                                        fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer
                                        faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique
                                        odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat
                                        lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus
                                        sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis
                                        erat tempor quis. Vestibulum eu vestibulum ex.</p>
                                    <ul class="comnt-sec">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i>
                                                <span>(14)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-down"></i>
                                                <span>(2)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media"><img src="{% static 'tmplt/assets/images/20.jpg' %}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                    <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis
                                        fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer
                                        faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique
                                        odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat
                                        lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus
                                        sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis
                                        erat tempor quis. Vestibulum eu vestibulum ex.</p>
                                    <ul class="comnt-sec">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i>
                                                <span>(14)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-down"></i>
                                                <span>(2)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media"><img src="{% static 'tmplt/assets/images/avtar.jpg' %}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                    <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis
                                        fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer
                                        faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique
                                        odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat
                                        lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus
                                        sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis
                                        erat tempor quis. Vestibulum eu vestibulum ex.</p>
                                    <ul class="comnt-sec">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i>
                                                <span>(14)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-down"></i>
                                                <span>(2)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media"><img src="{% static 'tmplt/assets/images/2.jpg' %}" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h6>Mark Jecno <span>( 12 Jannuary 2018 at 1:30AM )</span></h6>
                                    <p>Donec rhoncus massa quis nibh imperdiet dictum. Vestibulum id est sit amet felis
                                        fringilla bibendum at at leo. Proin molestie ac nisi eu laoreet. Integer
                                        faucibus enim nec ullamcorper tempor. Aenean nec felis dui. Integer tristique
                                        odio mi, in volutpat metus posuere eu. Aenean suscipit ipsum nunc, id volutpat
                                        lorem hendrerit ac. Sed id elit quam. In ac mauris arcu. Praesent eget lectus
                                        sit amet diam vestibulum varius. Suspendisse dignissim mattis leo, nec facilisis
                                        erat tempor quis. Vestibulum eu vestibulum ex.</p>
                                    <ul class="comnt-sec">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i>
                                                <span>(14)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-thumbs-down"></i>
                                                <span>(2)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->


    <!-- footer start -->
    {% include 'tmplt/footer.html' with categories=categories %}
    <!-- footer end -->





    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top End -->


    <!-- latest jquery-->
    <script src="{% static 'tmplt/assets/js/jquery-3.3.1.min.js' %}"></script>

    <!-- menu js-->
    <script src="{% static 'tmplt/assets/js/menu.js' %}"></script>

    <!-- lazyload js-->
    <script src="{% static 'tmplt/assets/js/lazysizes.min.js' %}"></script>

    <!-- slick js-->
    <script src="{% static 'tmplt/assets/js/slick.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'tmplt/assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Bootstrap Notification js-->
    <script src="{% static 'tmplt/assets/js/bootstrap-notify.min.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'tmplt/assets/js/theme-setting.js' %}"></script>
    <script src="{% static 'tmplt/assets/js/script.js' %}"></script>

    <script>
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>

</body>

</html>